*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: visible;
}
body{
    background: linear-gradient(to right, whitesmoke, grey, rebeccapurple,gray, white);
    max-width: 100%;
    min-height: 100vh;
    @media screen and (max-width:600px) {
        width: auto;
        height: auto;
    }
}
.toggles{
    // background-color: coral;

.fa-toggle-on, .fa-toggle-off{
    position: fixed;
    font-size: 20px;
    opacity: 1;
    background-color: rgb(0, 109, 0);
    padding: 10px;
    color: white ;
    top: 10px;
    left: 400px;
    border-radius: 50%;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #000;
        font-size: 20px;
        transition: all 0.3s;
    
    }
    @media screen and (max-width:540px) {
        left: 100px;
        top: 10px;
        font-size: 20px;
    }
    
}
}
.chatbot-container{
    display: grid;
    place-content: center;
    width: 50vw;
    height: 90vh;
    background-color: aqua;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 100;
    display: none;
    margin-top: 20px;

    @media screen and (max-width: 540px) {
            height: 90vh;
            width: auto;
            top: -20px;
            position: absolute;
            background-color: aqua;
    }

.chatbot-message{
    background-color: white;
    color: black;
    width: 52.7%;
    height: 60%;
    margin: auto;
    position: relative;
    top: 20px;
    overflow: visible;

    @media screen and (max-width: 540px){
            width: 90%;
            height: auto;
            top: 20px;
            position: relative;
        }
    

#p{
    text-align: center;
    font-size: 20px;
    color: blue;
    margin: auto;
}

#chatbottext{
margin-top: 30px;
width: auto;
height: auto;
word-wrap: break-word;
line-height: 1.5;
font-size: 18px;
}

.input-block{
   background-color: grey;
   width: auto;
   height: auto;
   margin-top: 270px;

@media screen and (max-width: 540px) {
    background-color: grey;
    width: auto;
    height: auto;
    display: grid;
    place-content: center;
    margin-top: 270px;
}

}
#enter{
    width: auto;
    padding: 13px;
    position: absolute;
    right: 10px;
    background-color: blueviolet;
    color: white;
    border: none;
    outline: none;
    bottom: -45px;
    cursor: pointer;
    display: block;
    &:hover{
        background-color: aqua;
        color: white;
        transition: all 1s;
    }

    @media screen and (max-width: 540px) {
        padding: 13px;
        position: absolute;
        right: 35px;
        background-color: blueviolet;
        color: white;
        border: none;
        outline: none;
        bottom: 71px;
        width: auto;
}
}

#textbox{
    padding: 10px;
    width: auto;
    margin: 10px 15%;
    text-align: start;
    font-size: 18px;
    background-color: coral;
    color: rebeccapurple;
    border: none;
    outline: none;
    @media screen and (max-width:540px) {
        width: auto;
        padding: 10px;
        margin: 10px;
    }  
}
#end{
    padding: 10px;
    width: auto;
    margin: auto 40%;
    margin-bottom: 10px;
    font-size: 18px;
    background-color: white;
    border: none;
    outline: none;

  &:hover{
    cursor: pointer;
    background-color: crimson;
    color: blue;
    transition: all 0.3s;
}
@media screen and (max-width:540px) {
    width: auto;
    padding: 10px;
    margin: 10px;
}  
}
}

}


#lets_chat{
    text-align: center;
    margin: auto;
    font-size:15px;
    font-variant: small-caps;
    color: blue;
    background-color: magenta;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    z-index: 100;
    position: absolute;
    animation: Hover 3s ease-in-out forwards;
    
    &:hover{
    text-align: center;
    transition: all 0.3s;
    color: white;
    background-color: goldenrod;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    }
    
    
    @keyframes Hover {
    from{
        transform: translateX(-100px);
        position: absolute;
        top: 30px;
        left: 100px;
    }
    to{
        transform: translateY(470px);
        position: fixed;
        right: 20px;
    }
    }
    }
  
#mysection{
background: linear-gradient(to right, whitesmoke, grey, rebeccapurple,gray, white);
width: auto;
background-attachment: fixed;
height: auto;
@media screen and (max-width:540px) {
    width: auto;
    min-height: 700px;
    margin: auto;
    padding: 20px;
}
span{
    float:  right;
    font-size: 20px;
    margin: -2% 10%;
    a{
        color: rgb(0, 30, 255);
        &:hover{
            color: white;
            font-variant: small-caps;
            font-size: 15px;
            transition: all 0.4s;
        }
    }
}

    h1{
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        color: rgb(250, 170, 10);
        margin: 60px auto;
        animation: timing 25s linear infinite 5s;
        @media screen and (max-width:540px) {
            margin: 70px auto;
            margin-bottom: -30px;
        }

        @keyframes timing {
            from{
                opacity: 1;
                transform: scale(1);
                transition: all 1s;
                color: blue;
            }
            to{
                opacity: 0.2;
                transform: scale(0);
                transition: all 2s;
                color: black;
            }
        }
    }
    p{
        color: antiquewhite;
        margin: 40px auto;
        font-size: 23px;
        text-align: center;
        @media screen and (max-width:540px) {
            margin: 70px 10%;

        }
    }

.maindiv{
    margin: 40px auto;
    height: auto;
    @media screen and (max-width:540px) {
        width: auto;
        height: auto;
        margin: -10% auto;
    }
    ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;

    li{
        list-style: none;
        border-radius: 10px;
        border-style: ridge;
        background-color: aqua;
        margin: 10px auto;
        padding: 10px;
        flex: content;
        a{
            text-decoration: none;
            text-transform: uppercase;
        }
        &:hover{
            background-color: white;
            color: black;
            transition: all 0.7s;
            cursor: pointer;
        }
    }
    }
}
}
